<ion-header>
  <ion-navbar>
    <button ion-button menuToggle *ngIf="menu">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <loading *ngIf="id" [data]="card"></loading>

  <ion-grid fixed *ngIf="!id || card">
    <ion-row>
      <ion-col>
        <form (ngSubmit)="save()" #entryForm="ngForm">

          <h4>General</h4>

          <ion-row>
            <ion-col>
              <ion-list inset>

                <ion-item>
                  <ion-label [class.danger]="errors.word" stacked>
                    Word or phrase
                  </ion-label>
                  <ion-input type="text" [(ngModel)]="card.word" name="word" required pattern=".{2,}"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label [class.danger]="errors.transcription" stacked>
                    Transcription
                  </ion-label>
                  <ion-input type="text" [(ngModel)]="card.transcription" name="transcription" pattern=".{2,}"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label [class.danger]="errors.translation" stacked>
                    Translation
                  </ion-label>
                  <ion-input type="text" [(ngModel)]="card.translation" name="translation" pattern=".{2,}"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label [class.danger]="errors.note" stacked>
                    Note
                  </ion-label>
                  <ion-textarea rows="3" [(ngModel)]="card.note" name="note"></ion-textarea>
                </ion-item>

              </ion-list>
            </ion-col>
          </ion-row>

          <h4>Definition</h4>

          <ion-row>
            <ion-col>
              <ion-list inset>

                <ion-item>
                  <ion-label [class.danger]="errors.definition" stacked>
                     Defenition
                  </ion-label>
                  <ion-textarea rows="7" [(ngModel)]="card.definition" name="definition"></ion-textarea>
                </ion-item>

                <ion-item>
                  <ion-label [class.danger]="errors.examples" stacked>
                    Examples
                  </ion-label>
                  <ion-textarea rows="7" [(ngModel)]="card.examples" name="examples"></ion-textarea>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>

          <h4>Other words</h4>

          <ion-row>
            <ion-col>
              <ion-list inset>

                <ion-item>
                  <ion-label [class.danger]="errors.synonyms" stacked>
                    Synonyms
                  </ion-label>
                  <ion-textarea rows="3" [(ngModel)]="card.synonyms" name="synonyms"></ion-textarea>
                </ion-item>

                <ion-item>
                  <ion-label [class.danger]="errors.antonyms" stacked>
                    Antonyms
                  </ion-label>
                  <ion-textarea rows="3" [(ngModel)]="card.antonyms" name="antonyms"></ion-textarea>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="signup-col">
              <button ion-button type="button" full color="dark" (click)="delete()" *ngIf="card">
                <ion-spinner *ngIf="isSaving" name="dots" margin-right></ion-spinner>
                <ion-icon *ngIf="!isSaving" name="trash" margin-right></ion-icon>
                Delete
              </button>
            </ion-col>
            <ion-col class="signup-col">
              <button ion-button color="light-dark" class="submit-btn" full type="submit" [disabled]="entryForm.form.invalid || isSaving">
                <ion-spinner *ngIf="isSaving" name="dots" margin-right></ion-spinner>
                <ion-icon *ngIf="!isSaving" name="checkmark-circle" margin-right></ion-icon>
                Save
              </button>
            </ion-col>
          </ion-row>

        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
