<ion-header>
  <ion-navbar>
    <button ion-button menuToggle *ngIf="menu">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <ion-icon class="cursor" name="refresh" (click)="refresh()" margin-right></ion-icon>
      {{ title }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <loading *ngIf="id" [data]="card"></loading>

  <ion-grid fixed *ngIf="!id || card">
    <ion-row>
      <ion-col>
        <form (ngSubmit)="save()" #entryForm="ngForm">

          <h4>
          <ion-row>
            <ion-col col-10 class="card-word">
              General
            </ion-col>
            <ion-col text-right>
              <ion-spinner *ngIf="isLoadingDictionary" name="dots"></ion-spinner>
              <ion-icon *ngIf="card.pronunciation" (click)="play(card.pronunciation)" class="cursor" name="volume-up" float-right></ion-icon>
            </ion-col>
          </ion-row>
          </h4>

          <ion-row>
            <ion-col>
              <ion-list inset>

                <ion-item>
                  <ion-label [class.danger]="errors.word" stacked>
                    Word or phrase
                  </ion-label>
                  <ion-input autocapitalize="off" type="text" [(ngModel)]="card.word" name="word" required pattern=".{2,}"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label [class.danger]="errors.transcription" stacked>
                    Transcription
                  </ion-label>
                  <ion-input type="text" [(ngModel)]="card.transcription" name="transcription" pattern=".{2,}"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label [class.danger]="errors.translation" stacked>
                    Translation
                  </ion-label>
                  <ion-input type="text" [(ngModel)]="card.translation" name="translation" pattern=".{2,}"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label [class.danger]="errors.note" stacked>
                    Note
                  </ion-label>
                  <ion-textarea rows="3" [(ngModel)]="card.note" name="note"></ion-textarea>
                </ion-item>

              </ion-list>
            </ion-col>
          </ion-row>

          <h4>Definition</h4>

          <ion-row>
            <ion-col>
              <ion-list inset>

                <ion-item>
                  <ion-label [class.danger]="errors.definition" stacked>
                     Defenition
                  </ion-label>
                  <ion-textarea rows="7" [(ngModel)]="card.definition" name="definition"></ion-textarea>
                </ion-item>

                <ion-item>
                  <ion-label [class.danger]="errors.examples" stacked>
                    Examples
                  </ion-label>
                  <ion-textarea rows="7" [(ngModel)]="card.examples" name="examples"></ion-textarea>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>

          <h4>Other words</h4>

          <ion-row>
            <ion-col>
              <ion-list inset>

                <ion-item>
                  <ion-label [class.danger]="errors.synonyms" stacked>
                    Synonyms
                  </ion-label>
                  <ion-textarea rows="3" [(ngModel)]="card.synonyms" name="synonyms"></ion-textarea>
                </ion-item>

                <ion-item>
                  <ion-label [class.danger]="errors.antonyms" stacked>
                    Antonyms
                  </ion-label>
                  <ion-textarea rows="3" [(ngModel)]="card.antonyms" name="antonyms"></ion-textarea>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>

          <h4>Options</h4>

          <ion-row>
            <ion-col>
              <ion-list inset>

                <ion-item class="select" *ngIf="decks">
                  <ion-label [class.danger]="errors.deck">Deck</ion-label>
                  <ion-select interface="popover" [(ngModel)]="card.deck" name="deck" required>
                    <ion-option *ngFor="let deck of decks" value="{{ deck.id }}">
                      {{ deck.title }}
                    </ion-option>
                  </ion-select>
                </ion-item>

                <ion-item class="select">
                  <ion-label [class.danger]="errors.priority">Priority</ion-label>
                  <ion-select interface="popover" [(ngModel)]="card.priority" name="priority" required>
                    <ion-option *ngFor="let priority of card.getPriorities()" value="{{ priority.value }}">
                      {{ priority.title }}
                    </ion-option>
                  </ion-select>
                </ion-item>

                <ion-item class="select">
                  <ion-label [class.danger]="errors.category">Category</ion-label>
                  <ion-select interface="popover" [(ngModel)]="card.category" name="category" required>
                    <ion-option *ngFor="let category of card.getCategories()" value="{{ category.value }}">
                      {{ category.title }}
                    </ion-option>
                  </ion-select>
                </ion-item>

                <ion-item>
                  <ion-label [class.danger]="errors.isEnabled">Is enabled?</ion-label>
                  <ion-checkbox [(ngModel)]="card.isEnabled" color="strong-dark" name="isEnabled"></ion-checkbox>
                </ion-item>


              </ion-list>
            </ion-col>
          </ion-row>

          <h4 *ngIf="images && images.length">Select image</h4>

          <loading *ngIf="card.word" [data]="images"></loading>

          <ion-row *ngIf="images" text-center class="images">
            <ion-col>
              <img *ngIf="selectedImage" src="{{ selectedImage }}" class="selected-image current-image">
              <img src="{{ image.previewUrl }}" *ngFor="let image of images" [class.selected-image]="image.isSelected" (click)="selectImage(image)">
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="signup-col"  *ngIf="card && id">
              <button ion-button type="button" full color="dark" (click)="delete()">
                <ion-spinner *ngIf="isSaving" name="dots" margin-right></ion-spinner>
                <ion-icon *ngIf="!isSaving" name="trash" margin-right></ion-icon>
                Delete
              </button>
            </ion-col>
            <ion-col class="signup-col">
              <button ion-button color="light-dark" class="submit-btn" full type="submit" [disabled]="entryForm.form.invalid || isSaving">
                <ion-spinner *ngIf="isSaving" name="dots" margin-right></ion-spinner>
                <ion-icon *ngIf="!isSaving" name="checkmark-circle" margin-right></ion-icon>
                Save
              </button>
            </ion-col>
          </ion-row>

        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
