<ion-header>
    <ion-navbar>
        <navbar title="Dashboard"></navbar>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-grid fixed>
        <ion-card text-left margin-top>
            <ion-card-content>
                  <form (ngSubmit)="search()" #entryForm="ngForm">
                    <ion-row>
                        <ion-col>
                            <ion-list inset>
                                <ion-item>
                                  <ion-input autocapitalize="off" [attr.autofocus]="autofocus ? true: null"  [(ngModel)]="query.word" type="text" placeholder="Find the word or phrase" name="word" required></ion-input>
                                </ion-item>
                            </ion-list>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col class="signup-col">
                          <button full ion-button color="light-dark" class="submit-btn" type="submit" [disabled]="entryForm.form.invalid">
                            <ion-icon name="search" margin-right></ion-icon>Find the word
                            </button>
                        </ion-col>
                    </ion-row>
                </form>
            </ion-card-content>
        </ion-card>

        <loading [data]="widgets"></loading>

        <ion-card class="progress-wrapper" *ngIf="goal !== null">
            <div class="progress-header">Today's goal</div>
            <ion-card-content text-center>
              <ion-badge color="primary">{{ goal }}%</ion-badge>
            </ion-card-content>
            <div [style.width]="goal + '%'" class="progress"></div>
        </ion-card>

        <ion-card text-left *ngFor="let widget of widgets" margin-top>
            <ion-card-header margin-bottom>
                {{ widget.title }}
            </ion-card-header>
            <ion-card-content>
                <ion-item *ngFor="let row of widget.elements">
                    {{ row.title }}
                    <ion-badge item-end color="{{ row.color }}">
                        {{ row.value }}
                    </ion-badge>
                </ion-item>
            </ion-card-content>
        </ion-card>

    </ion-grid>
</ion-content>


<ion-footer no-border text-center>
    <ion-toolbar>
      <button ion-button (click)="practice()">
        <ion-icon name="school" margin-right></ion-icon>Practice
      </button>
    </ion-toolbar>
</ion-footer>
