<ion-header>
  <ion-navbar>
    <navbar title="Settings"></navbar>
  </ion-navbar>
</ion-header>

<ion-content>
  <loading [data]="settings"></loading>

  <ion-grid fixed *ngIf="settings">
    <ion-row>
      <ion-col>
        <form (ngSubmit)="save()" #entryForm="ngForm">
          <ion-row>
            <ion-col>
              <ion-list inset>

                <ion-item >
                  <ion-label [class.danger]="errors.attemptsToRemember" stacked>Attempts to remeber the word</ion-label>
                  <ion-input type="number" [(ngModel)]="settings.attemptsToRemember" name="attemptsToRemember" min="3" required></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label [class.danger]="errors.cardsPerLesson" stacked>Cards per lesson</ion-label>
                  <ion-input type="number" [(ngModel)]="settings.cardsPerLesson" name="cardsPerLesson" min="5" required></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label [class.danger]="errors.cardsToRepeat" stacked>Cards to repeat per lesson</ion-label>
                  <ion-input type="number" [(ngModel)]="settings.cardsToRepeat" name="cardsToRepeat" min="0" required></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label [class.danger]="errors.lessonLatestDays" stacked>Number of days to get last words</ion-label>
                  <ion-input type="number" [(ngModel)]="settings.lessonLatestDays" name="lessonLatestDays" min="5" required></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label [class.danger]="errors.lessonsPerDay" stacked>Number of lessons per day</ion-label>
                  <ion-input type="number" [(ngModel)]="settings.lessonsPerDay" name="lessonsPerDay" min="1" required></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label [class.danger]="errors.playAudioOnOpen">Play audio</ion-label>
                  <ion-checkbox [(ngModel)]="settings.playAudioOnOpen" color="strong-dark" name="playAudioOnOpen"></ion-checkbox>
                </ion-item>

              </ion-list>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="signup-col">
              <button ion-button color="light-dark" class="submit-btn" full type="submit" [disabled]="entryForm.form.invalid || isSaving">
                <ion-spinner *ngIf="isSaving" name="dots" margin-right></ion-spinner>
                <ion-icon *ngIf="!isSaving" name="checkmark-circle" margin-right></ion-icon>
                Save
              </button>
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
