<ion-header>
  <ion-navbar>
    <navbar title="Cards"></navbar>
  </ion-navbar>
</ion-header>

<ion-content>
<ion-grid fixed>

<ion-card text-left>
  <ion-card-content class="form">
    <form #searchForm="ngForm" (ngSubmit)="add()">
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-input autocapitalize="off" [attr.autofocus]="autofocus ? true: null" [(ngModel)]="query.word" type="text" placeholder="Type the word or phrase" name="word" required>
              </ion-input>
            </ion-item>


            <div *ngIf="advancedSearch" margin-top>

            <loading [data]="decks"></loading>
            <ion-item class="select" *ngIf="decks">
              <ion-label>Deck</ion-label>
                <ion-select interface="popover" [(ngModel)]="query.deckId" name="deckId">
                  <ion-option value=""></ion-option>
                  <ion-option *ngFor="let deck of decks" value="{{ deck.id }}">
                    {{ deck.title }}
                  </ion-option>
                </ion-select>
            </ion-item>

            <ion-item class="select" *ngIf="decks">
              <ion-label>Category</ion-label>
              <ion-select interface="popover" [(ngModel)]="query.category" name="category">
                <ion-option value=""></ion-option>
                <ion-option *ngFor="let category of query.categories" value="{{ category.value }}">
                  {{ category.title }}
                </ion-option>
              </ion-select>
            </ion-item>

            <ion-item class="select" *ngIf="decks">
              <ion-label>Priority</ion-label>
              <ion-select interface="popover" [(ngModel)]="query.priority" name="priority">
                <ion-option value=""></ion-option>
                <ion-option *ngFor="let priority of query.priorities" value="{{ priority.value }}">
                  {{ priority.title }}
                </ion-option>
              </ion-select>
            </ion-item>

            <ion-item class="select" *ngIf="decks">
              <ion-label>Sort by</ion-label>
              <ion-select interface="popover" [(ngModel)]="query.sortBy" name="sortBy">
                <ion-option *ngFor="let sort of query.sortings" value="{{ sort.value }}">
                  {{ sort.title }}
                </ion-option>
              </ion-select>
            </ion-item>
            </div>

          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <button ion-button color="light-dark" full [disabled]="isSearching || searchForm.form.invalid" type="submit">
            <ion-icon  name="add" margin-right></ion-icon>Add the card
          </button>
        </ion-col>
        <ion-col col-2 class="advanced-search">
          <button type="button" (click)="advancedSearch=!advancedSearch;" ion-button color="dark" full>
            <ion-icon class="cursor" name="settings"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-2 class="advanced-search">
          <button type="button" ion-button color="dark" [disabled]="!searchForm.form.dirty && !query.word" full (click)="searchForm.reset()">
            <ion-icon name="backspace"></ion-icon>
          </button>
        </ion-col>
      </ion-row>

    </form>
  </ion-card-content>
</ion-card>


<loading [data]="cards"></loading>

<ion-card text-left margin-top *ngIf="total !== null" [class.old-content]="isSearching">
  <ion-card-content>
      Total
      <ion-badge item-end color="primary" float-right>
        {{ total }}
      </ion-badge>
  </ion-card-content>
</ion-card>

<ion-card *ngFor="let card of cards" [class.old-content]="isSearching" text-left margin-top (click)="display(card)" class="cursor">
  <ion-card-header margin-bottom>
  <ion-row>
    <ion-col col-10>
      {{ card.word }}
    </ion-col>
    <ion-col text-right *ngIf="card.pronunciation">
      <ion-icon click-stop-propagation (click)="play(card.pronunciation)" class="cursor" name="volume-up" float-right></ion-icon>
    </ion-col>
  </ion-row>
</ion-card-header>
<ion-card-content>
  <ion-row>
    <ion-col>
      {{ card.translation }}
    </ion-col>
  </ion-row>
</ion-card-content>
</ion-card>

<ion-infinite-scroll *ngIf="query.next" (ionInfinite)="loadMore($event)">
  <ion-infinite-scroll-content loadingSpinner="dots">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>

</ion-grid>
</ion-content>

<ion-footer no-border text-center>
  <ion-toolbar>
    <button ion-button (click)="practice()">
      <ion-icon name="school" margin-right></ion-icon>Practice
    </button>
  </ion-toolbar>
</ion-footer>
